{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Corte</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.4/css/all.min.css" integrity="sha512-pVAZ1YUXx6vVSkUAYLDgWRIhIB1c0j4AERyZ+0x1HOxj4wLC6mB0kQ9OceYqM2VQ8cK8Qb8Xb3FbS5Ml4f+Xmg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendor/flatpickr/flatpickr.min.css' %}">
    <script src="{% static 'core/vendor/flatpickr/flatpickr.min.js' %}" defer></script>
    <script src="{% static 'core/vendor/flatpickr/pt.js' %}" defer></script>
    <script src="{% static 'core/js/pickers.js' %}" defer></script>
    <link rel="icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">
</head>
<body>
    <header>
        <nav aria-label="Navegação principal">
            <h1>Auto Corte</h1>

            <ul>
                <li><a href="{% url 'index' %}">Início</a></li>
                <li><a href="{% url 'listar_servicos' %}">Serviços</a></li>
                <li><a href="{% url 'cadastrar_agendamento' %}">Agendar Horário</a></li>

                <li>
                    <details>
                        <summary>Horários</summary>
                        <p>Segunda: 08:00 às 19:00</p>
                        <p>Terça: 08:00 às 19:00</p>
                        <p>Quarta: 08:00 às 19:00</p>
                        <p>Quinta: 08:00 às 19:00</p>
                        <p>Sexta: 08:00 às 19:00</p>
                        <p>Sábado: 08:00 às 16:00</p>
                        <p>Domingo: fechado</p>
                    </details>
                </li>
            </ul>

            <form action="{% url 'cadastrar_agendamento' %}" method="get">
                <button type="submit" class="btn-primary">Reservar horário &#9200;</button>
            </form>
        </nav>
    </header>

    <main>
        {% if messages %}
            <script>
                {% for message in messages %}
                    alert("{{ message.message|escapejs }}");
                {% endfor %}
            </script>
        {% endif %}

        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Informações da Auto Corte</p>
    </footer>
</body>
</html>