{% extends 'core/base.html' %}

{% block content %}
<section id="servicos">
    <h1>Auto Corte</h1>
    <p>BEM-VINDO AO AUTO CORTE!</p>
</section>


<section id="contato">
    <h2>Contato</h2>
    <p>Entre em contato conosco para agendar um horário ou para obter mais informações sobre nossos serviços.</p>
</section>

<section id="cortes">
    
</section> 

<section id="sobre">
    <h2>Sobre</h2>
    <p>O Auto Corte é um serviço de corte de cabelo profissional, oferecendo uma experiência única para nossos clientes. Nossa equipe é composta por profissionais qualificados que estão sempre atualizados com as últimas tendências e técnicas de corte.</p>
</section>
   
{% endblock %}
