{% extends 'core/base.html' %}

{% block content %}

<h1>LISTA DE AGENDAMENTOS</h1>

<div class="table-responsive">
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Serviço</th>
                <th>Data</th>
                <th>Horário</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>

    <tbody>
        {% for agendamento in agendamentos %}
            <tr>
                <td>{{ agendamento.cliente.nome }}</td>
                <td>{{ agendamento.servico.nome }}</td>
                <td>{{ agendamento.data }}</td>
                <td>{{ agendamento.horario }}</td>
                <td>{{ agendamento.get_status_display }}</td>
                <td>
                    <a href="{% url 'editar_agendamento' agendamento.id %}">
                        Editar
                    </a>

                    |

                    <form action="{% url 'excluir_agendamento' agendamento.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit">Excluir</button>
                    </form>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">Nenhum agendamento cadastrado.</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

{% endblock %}
